<div class="card rounded shadow-sm">
    <form [formGroup]="form">
        <div class="p-3">
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label>Subject</label>
                    <input type="text" class="form-control" [ngClass]="cssValidator(f.subject)"
                    formControlName="subject" placeholder="Type in the subject">
                    <div *ngIf="f.subject.errors?.required" class="invalid-feedback">
                        Subject is mandatory!
                    </div>
                    <div *ngIf="f.subject.errors?.minlength" class="invalid-feedback">
                        Subject has to be at least 4 characters long!
                    </div>
                    <div *ngIf="f.subject.errors?.maxlength" class="invalid-feedback">
                        Subject has to be 50 characters maximum!
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-8">
                    <label>Location</label>
                    <input type="text" class="form-control" [ngClass]="cssValidator(f.location)" formControlName="location" placeholder="">
                    <div *ngIf="f.location.errors?.required" class="invalid-feedback">
                        Location is mandatory!
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label>Date</label>
                    <input type="datetime" class="form-control" [ngClass]="cssValidator(f.eventDate)"
                    value="{{ event.eventDate | DateFormatPipe }}" 
                    bsDatepicker [bsConfig]="bsConfig"
                     formControlName="eventDate" placeholder="">
                    <div *ngIf="f.eventDate.errors?.required" class="invalid-feedback">
                        Date is mandatory!
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-2">
                    <label>Number of People</label>
                    <input type="text" class="form-control" [ngClass]="cssValidator(f.peopleQuantity)" formControlName="peopleQuantity" placeholder="">
                    <div *ngIf="f.peopleQuantity.errors?.required" class="invalid-feedback">
                        People quantity is mandatory!
                    </div>
                    <div *ngIf="f.peopleQuantity.errors?.max" class="invalid-feedback">
                        Number of people has a max of 120000!
                    </div>
                </div>
                <div class="form-group col-md-2">
                    <label>Phone</label>
                    <input type="text" class="form-control" [ngClass]="cssValidator(f.phone)" formControlName="phone" placeholder="(000) 90000-0000">
                    <div *ngIf="f.phone.errors?.required" class="invalid-feedback">
                        Phone is mandatory!
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label>Email</label>
                    <input type="text" class="form-control" [ngClass]="cssValidator(f.email)" formControlName="email" placeholder="e-mail">
                    <div *ngIf="f.email.errors?.required" class="invalid-feedback">
                        Email is mandatory!
                    </div>
                    <div *ngIf="f.email.errors?.email" class="invalid-feedback">
                        Email should be valid!
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label>Image</label>
                    <input type="text" class="form-control" [ngClass]="cssValidator(f.imageURL)" formControlName="imageURL" placeholder="imagem">
                    <div *ngIf="f.image.errors?.required" class="invalid-feedback">
                        Image is mandatory!
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="d-flex">
                <button class="btn btn-outline-secondary mr-auto border" (click)="resetForm()">
                    Cancel
                </button>
                <!-- VERIFICAR O DISABLED AQUI!!! -->
                <button class="btn btn-success" [disabled]="!form.valid" (click)="saveChange()">
                    <!-- <span class="spinner-border spinner-border-sm mr-1"></span> -->
                    Save Event
                </button>
            </div>
        </div>
    </form>
</div>
