<div class="row mt-4">
	<div class="col-md-6 d-none d-md-block" style="height: 450px;">
		<div class="text-center col-md-12 my-auto side-heder">
			<h1>Cadastro de Usuário</h1>
			<img src="../../../../assets/registerImage.png" class="my-4" alt="" width="400px">
		</div>
	</div>

	<div class="col-md-6">
		
		<form [formGroup]="form" class="p-1">
            <div class="pb-2 d-block d-md-none">
                <h3 class="border-bottom">Cadastro de Usuário</h3>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-6">
                    <label>Firstname</label>
                    <input type="text" class="form-control" [ngClass]="{'is-invalid': f.firstname!.errors && f.firstname!.touched}" formControlName="firstname" placeholder="Insira o Primeiro nome" />
                    <div *ngIf="f.firstname.errors?.required" class="invalid-feedback">
                        Firstname is mandatory!
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <label>Lastname</label>
                    <input type="text" class="form-control" [ngClass]="{'is-invalid': f.lastname!.errors && f.lastname!.touched}" formControlName="lastname" placeholder="Insira o Último nome" />
                    <div *ngIf="f.lastname.errors?.required" class="invalid-feedback">
                        Lastname is mandatory!
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="">Email:</label>
                <input class="form-control" type="text" [ngClass]="{'is-invalid': f.email!.errors && f.email!.touched}" formControlName="email" placeholder="Insira o Nome Completo" />
                <div *ngIf="f.email.errors?.required" class="invalid-feedback">
                    Email is mandatory!
                </div>
                <div *ngIf="f.email.errors?.email" class="invalid-feedback">
                    Email must be valid!
                </div>
            </div>
            <div class="form-group">
                <label for="">Username:</label>
                <input class="form-control" type="text" [ngClass]="{'is-invalid': f.username!.errors && f.username!.touched}" formControlName="username" placeholder="Insira o nome de Usuário" />      
                <div *ngIf="f.username.errors?.required" class="invalid-feedback">
                    Username is mandatory!
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-6">
                    <label for="">Password:</label>
                    <input class="form-control" type="password" [ngClass]="{'is-invalid': f.password!.errors && f.password!.touched}" formControlName="password" placeholder="Digite uma Senha" />
                    <div *ngIf="f.password.errors?.required" class="invalid-feedback">
                        Password is mandatory!
                    </div>
                    <div *ngIf="f.password.errors?.minlength" class="invalid-feedback">
                        Password must contain at least 6 characters!
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <label for="">Confirm Password:</label>
                    <input class="form-control" type="password" [ngClass]="{'is-invalid': f.passwordConfirmation!.errors && f.passwordConfirmation!.touched}" formControlName="passwordConfirmation" placeholder="Confirme a Senha" />
                    <div *ngIf="f.passwordConfirmation.errors?.required" class="invalid-feedback">
                        Confirm your password!
                    </div>
                    <div *ngIf="f.passwordConfirmation.errors?.mustMatch" class="invalid-feedback">
                        Passwords do not match!
                    </div>
                </div>
            </div>
            <div class="form-row p-1 mb-3">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                    <label class="custom-control-label">Eu concordo com os <a href="#">Termos de Uso</a>.</label>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-12">
                    <button class="btn btn-lg btn-success btn-block px-5">
                        Register
                    </button>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-12">
                    <a class="btn btn-link btn-block" routerLink="/user/login">
                        Já sou Cadastrado
                    </a>
                </div>
            </div>
        </form>

	</div>
</div>